.config/nvim/autoload/plug.vim.old
fonts/.local/share/fonts/.uuid
awesome/.config/awesome/lain/

bin/.local/bin/black
bin/.local/bin/black-primer
bin/.local/bin/blackd
bin/.local/bin/isort
bin/.local/bin/isort-identify-imports
bin/.local/bin/nosetests
bin/.local/bin/nosetests-3.4
bin/.local/bin/pipenv
bin/.local/bin/pipenv-resolver
bin/.local/bin/py.test
bin/.local/bin/pyflakes
bin/.local/bin/pytest
bin/.local/bin/virtualenv
bin/.local/bin/virtualenv-clone
nvim/.config/nvim/autoload/plug.vim
nvim/.config/nvim/plugged/
