[submodule ".local/share/zsh-customs/themes/powerlevel10k"]
	path = .local/share/zsh-customs/themes/powerlevel10k
	url = https://gitee.com/romkatv/powerlevel10k.git
    shallow = true
[submodule ".local/share/zsh-customs/plugins/zsh-syntax-highlighting"]
	path = .local/share/zsh-customs/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".local/share/zsh-customs/plugins/zsh-autosuggestions"]
	path = .local/share/zsh-customs/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".local/share/oh-my-zsh"]
	path = .local/share/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
	branch = develop
