configuration {
  /* theme: "Pop-Dark"; */
  theme: "Base16-Material-Darker";
  /* theme: "material"; */
  show-icons: true;
  font: "JetBrainsMono Nerd Font 16";
  terminal: "kitty";
	drun-show-actions: false;
	/* fake-transparency: true; */
}

/* vim:ft=css
