configuration {
    modi: "window,drun,run,ssh,combi";
    font: "JetBrainsMono Nerd Font 16";
    terminal: "kitty";
    matching: "fuzzy";
    show-icons: true;
    sidebar-mode: true;
}

@import "themes/Arc-Dark-Sidebar.rasi"

/* vim: ft=css
 */
