[Desktop Entry]
Name=IBM 5250 Session
Comment=IBM 5250 Session
Exec=/home/shad/.local/bin/frontier-5250-DTA
Icon=/opt/ibm/iAccessClientSolutions/Icons/logo128.png
Terminal=false
Type=Application
Categories=Utilities
