[Desktop Entry]
Name=iForms Designer
Comment=iForms Design App
Exec=/home/shad/.local/bin/iforms.sh
Icon=/home/shad/.local/share/icons/hicolor/48x48/apps/iforms.png
Terminal=false
Type=Application
Categories=Development
