[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Windows 10
Comment=Starts the VirtualBox machine Windows 10
Type=Application
Exec=/usr/bin/vboxmanage startvm --type gui "Windows10 Fresh"
Icon=virtualbox-vbox.png
