[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/shad/Desktop/steam.desktop]
row=4
col=0

[aa1e8ffd-3a38-4f81-a568-256d1da38010]
row=0
col=0

[4165-2B1B]
row=1
col=0

[/]
row=2
col=0

[/home/shad]
row=3
col=0

